h1 {
    font-family: sans-serif;
    text-align: center;
}

img {
    height: auto;
    width: 200px;
}

a {
    color: black;
}

.fudge-color {
    color: brown;
}

.paneer-color {
    color: orange;
}

.biriyani-color {
    color: red;
}